.tituloo{
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;    
}

.cabeçalho_subtitulo{ 
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(124, 6, 179);
 }

 .paragrafo_introdução{
     justify-content: center;
     background-color: rgb(255, 255, 255);
     color: black);
 }